@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #1abc9c;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:0px;
}

.navbar-default {
  background-color: #16a085;
}
.navbar-default {
    border-color: #16a085;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #16a085;
}

.navbar-default .navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  border-color: #16a085;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-color: #16a085;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.jumbotron {
  background-color: #3498db;
  h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
  }
}

.index_thumbnail{
  height: 17em;
}